@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}


body {
 font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color:black;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hotel-search {
  width: 1200px;
  margin: 0 auto;
}




.main-index-img-logo {
  display: block;
  margin: auto;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.button {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #756257;
  line-height: 20px;
  text-transform: uppercase;
}

.counter {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #7DB54F;

}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-with-img {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #83B3D3;
  list-style: none;
}

.section-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.section-list-item {
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-with-img-item {
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-with-img-pic {
  width: 800px;
  padding: 0;
  margin: 0;
  display: block;
}

.opacity-12 {
  background-color: rgba(131,179,211,12%)
}

.opacity-20 {
  background-color: rgba(131,179,211,20%)
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-transform: uppercase;
}

.advantages-description {
  color: #FFFFFF;
}


.section-list-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-transform: uppercase;
}

.section-list-item-description,
.advantages-description {
  width: 250px;
  margin: auto;
}


.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
}
.welcome-item {
  background-image: url("images/backgrounds/index-background.jpg");
  background-size: 1200px 485px;
}

.main-container {
  flex-grow: 1;
}


.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: auto;
}
.main-subtitle {
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin: auto;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-subtitle {
  font-size: 22px;
  line-height: 26px;
}



.subscribe-form-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.subscribe-form-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight:normal;
}

.button-subscribe-button {
  font-size: 20px;
  line-height: 26px;
  color:#FFFFFF;
  text-transform: uppercase;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.subscribe-form {
width: 800px;
margin: 94px 200px;
}

.hotel-search-item {
  width: 720px;
  margin: 94px 240px;
  }

.footer-social,
.htmlacademy {
  width: 240px;
}

.footer-social-list {
  width: 107px;
  margin: 49px 61px 53px 72px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  margin-left: 0;
  width: 18px;
}

/* .visually-hidden {
  display: none;
} */

.contacts-phone {
  width: 720px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color:inherit;
}




.catalog-hotels {
  color:#FFFFFF;
  line-height: auto;
  background-color: #6094ca;
  background-image: url("../images/backgrounds/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  text-align:left;
  padding-left: 71px;

}

.catalog-hotels-container {
  display: flex;
  flex-wrap: wrap;

}

.catalog-filter {
  display: flex;


}


.inner-header-title {
  font-size: 60px;


  }
.breadcrumbs {
  font-size: 16px;
  list-style: none;

}

.catalog-filter-title {
  font-size: 20px;
}

.control-input {
  font-size: 18px;
}
.catalog-cards {
  line-height: auto;
  text-align:left;
}

.hotels-result {
  font-size: 30px;
  text-transform: uppercase;

}

.button-submit {
  font-size: 16px;
  text-transform: uppercase;
}

.button-reset {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.hotel-card-title {
  font-size: 24px;
}


.button-favourite {
font-size: 16px;
text-transform: uppercase;
}

.product-card-link {
  font-size: 16px;
  text-transform: uppercase;
  }

  .hotel-card-rating {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    }
.button-pagination-show-more {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item {
  font-size: 20px;
}

a {
  text-decoration:none;
}
.subscribe-with-background {
  height: 411px;
  width: 1200px;
  background-color: #6094ca;
    background-image: url("../images/backgrounds/background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color:#FFFFFF;
}

.subscribe-without-background {
  color: black;
}
.navigation-link {
  text-align: left;
  color: inherit;
}

.navigation {
display: flex;
width: 1060px;
margin: 0 auto;
justify-content: space-around;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 345px;
  list-style: none;
  display: flex;
  justify-content: space-around;

}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.main-logo {
  width: 139px;
  margin-right: 0, 30px, 0, 70px;
}

.main-index-img {
  background-color: #6094ca;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
}
