@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  width: 1200px;
}

* {
  box-sizing: border-box;
}

.hotel-search {
  width: 1200px;
  margin: 0 auto;
}

.hotel-list {
  display: grid;
  list-style: none;
  margin: 0 72px 34px 72px;
  padding: 20px 0;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px 438px;
  row-gap: 10px;
  column-gap: 18px;
}

.hotel-card {
  width: 300px;
  height: 398px;
  display: grid;
  grid-template-rows: 200px min-content min-content 37px 37px;
  grid-template-columns: 133px 133px;
  row-gap: 16px;
  column-gap: 26px;
  margin: 20px;
}

.hotel-card-img-link {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #f6f6f6;
}

.hotel-card-img-link:hover {
opacity: 60%;
}

.hotel-card-img-link:focus {
 border:#6094ca solid 3px;
  }

.hotel-card-img-link:active {
  opacity: 30%;
  }
.hotel-card-title-link {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.hotel-card-type,
.product-card-link,
.rating-image {
  grid-column: 1/2;
}

.product-card-link {
  grid-row: 4/5;
}

.rating-image {
  grid-row: 5/6;
  margin: 10px 49px 10px 0;
}
.hotel-card-type {
  grid-row: 3/4;
}

.hotel-card-type-price,
.button-favourite,
.hotel-card-rating {
  grid-column: 2/3;
}

.product-card-link:focus {
 background-color: #615048;
 border:#83B3D3 3px solid;
}

.product-card-link:hover {
 background-color: #615048;
}


.product-card-link:active {
 background-color: #615048;
 opacity: 30%;
}

.product-card-link {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 141px;
}

.hotel-card-rating {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  width: 141px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.main-index-img-logo {
  display: block;
  margin: 0 auto;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.button {
  font-size: 16px;
  color: #ffffff;
  background-color: #756257;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 0 9px 0;
  display: inline-block;
  margin: 13px 0 13px 20px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  width: 160px;
}

.button:hover {
  background-color: #615048

}

.button:focus {
  background-color: #615048;
  border: solid 3px #83B3D3;
}

.button:active {
  background-color: #615048;
  opacity: 30%;
}

.counter {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
    left: 23px;
    top: 14px;
    border-radius: 50%;
    padding: 2px 3px;
}

.counter:active {
  opacity: 30%;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-with-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #83b3d3;
  list-style: none;
}

.section-list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.section-list-item {
  width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 384px;
  padding-top: 89px;
}
.section-list-item-img {
  margin-bottom: 23px;
}

.section-list-item-third {
  width: 400px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 98px;
  padding-bottom: 100px;
}

.list-with-img-item {
  width: 400px;
  padding: 0;
  padding-top: 97px;
  padding-bottom: 87px;
  margin: 0;
  list-style: none;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list-with-img-pic {
  width: 800px;
  padding: 0;
  margin: 0;
  display: block;
}

.opacity-12 {
  background-color: rgba(131, 179, 211, 12%);
}

.opacity-20 {
  background-color: rgba(131, 179, 211, 20%);
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  color: #ffffff;
}

.section-list-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-list-item-description,
.advantages-description {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  height: 66px;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 15px 0 15px 0;
  display: inline-block;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  width: 575px;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  background-color: #615048;
  border: solid 3px #83B3D3;
}

.hotel-search-button: active {
  background-color: #615048;
 opacity:30%;
}



.footer-social-item-link:hover path {
fill: #68A2CA;
}



.footer-social-item:focus {
  fill: #68A2CA;
  outline: #68A2CA solid 3px;
  border-radius: 10px;
  }


.footer-social-item-link:active path {
  fill: #68A2CA;
  opacity: 30%;
  }

.welcome-item {
  background-image: url("images/backgrounds/index-background.jpg");
  background-size: 1200px 485px;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.main-inner {
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.main-subtitle {
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin: auto;
}

.main-title-container {
  margin-bottom: 80px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.hotel-search-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 56px;
}

.hotel-card-container {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.subscribe-form-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 29px 0;
}
.subscribe-form-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  margin: 0 0 46px 0;
}

.button-subscribe-button {
  font-size: 20px;
  line-height: 26px;
  height: 61px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  padding: 9px 0 9px 0;
  display: inline-block;
  margin: 0;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  width: 160px;
}

.post-subscribe-container {
  margin: 0 0 94px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 42px 0;
}

.subscribe-form {
  width: 1200px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
}

.hotel-search-item {
  width: 720px;
  margin: 94px 240px;
  padding-top: 91px;
  padding: 0;
}



.footer-social,
.htmlacademy {
  width: 240px;
  padding: 0;
}

.htmlacademy {
  cursor: pointer;
}

.footer-social-list {
  width: 127px;
  margin: 0 auto 0 72px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 0;
  list-style: none;

}

.footer-social-item {
  margin-left: 0;
  width: 40px;
  height: 40px;
  padding: 12px;
}

/* .visually-hidden {
  display: none;
} */

.contacts-phone {
  width: 720px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  padding: 15px;
}

.htmlacademy:hover path {
  fill: #615048;
}

.htmlacademy:focus path {
  fill: #615048;
  border:#83B3D3 3px solid;
}
.footer-contacts-phone:hover {
  color: #615048;
}

.footer-contacts-phone:focus {
  color: #615048;
  border:#83B3D3 3px solid;
  border-radius: 10px;
}

.footer-contacts-phone:active {
  color: #756257;
}



.catalog-hotels {
  color: #ffffff;
  margin: 0 0 44px 0;
  background-color: #6094ca;
  background-image: url("../images/backgrounds/catalog-background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  text-align: left;
  padding: 35px 0 0 71px;
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  display: flex;
  width: 1057px;
  justify-content: space-between;
  gap: 1em;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
}

.catalog-filter-group2 {
  border: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.hotels-result-container {
  display: flex;
  margin: 0 auto 53px auto;
  justify-content: space-between;
  padding: 0 70px;
}

.listing-view-switcher {
  width: 160px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
    margin: 0;
  padding: 0;
}

.wrapper-sort {
  width: 287px;
  margin: 0 81px 0 auto;
}

.inner-header-title {
  font-size: 60px;
  margin: 0 0 5px 0;
}

.breadcrumbs {
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 45px 0;
  gap: 10px;
  padding: 0;
}

.breadcrumbs-item {
  cursor: pointer;
}
.breadcrumbs-item:hover {
  opacity: 60%;
 }

 .breadcrumbs-item: :active{
  opacity: 30%;
}




.catalog-filter-title {
  font-size: 20px;
  margin: 0 0 30px 0;
}

.control-input {
  font-size: 18px;
}

.catalog-cards {
  text-align: left;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.hotels-result {
  font-size: 30px;
  text-transform: uppercase;
  width: 337px;
  padding: 0;
  white-space: nowrap;
  margin: 0;
}

.button-submit {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #83b3d3;
  padding: 18px 35px;
  border:none;
  border-radius: 4px;
  color:#ffffff;
  font-weight: 700;
}

.button-reset {
  font-size: 18px;
  font-weight: normal;
  padding: 18px 35px;
  border:none;
  border-radius: 4px;
  color:#ffffff;
background-color: transparent;
}

.listing-view-switcher-list {
  padding: 14px;
  border: #E6E6E6 solid 3px;
  border-radius: 4px;
  cursor: pointer;
}

.listing-view-switcher-list-current,
.listing-view-switcher-list:active {
  border: black solid 3px;
}


.listing-view-switcher-list:hover,
.listing-view-switcher-list:focus {
  border: #83B3D3 solid 3px;
}





.hotel-card-title {
  font-size: 24px;
  margin: 0;
}

.button-favourite {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #83b3d3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color:#ffffff;
    padding: 10px auto;
    width: 141px;
}


.button-favourite-current {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #7DB54F;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color:#ffffff;
    padding: 10px auto;
    width: 141px;
}

.button-favourite-current:hover {
  background-color: #6C9E42;
}

.button-favourite-current:active {
  background-color: #6C9E42;
  opacity: 30%;
}


.button-favourite-current:focus {
  background-color: #6C9E42;
  border: #615048 solid 3px;
}
.button-favourite:hover {
  background-color: #68A2CA;
  border: #615048 solid 1px;
}

.button-favourite:active {
  background-color: #68A2CA;
  border: #615048 solid 1px;
  opacity: 30%;
}


.button-show-more {
  font-size: 20px;
  text-align: center;

  margin: 0 auto 30px auto;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 30px 0;
}

.button-pagination-show-more {
  width: 620px;
  background-color: #83b3d3;
  padding: 17px 0;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin: 0 72px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  width: 371px;

  gap: 8px;
}

.pagination-link {
  background-color: #83b3d3;
  display: inline-block;
  min-width: 55px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-opacity:active {
  opacity: 30%;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: #615048 solid 3px;
}


.pagination-current {
  background-color: #f2f2f2;
  color: black;
}
.number-card-container {
  width: 386px;
}

.pagination-item {
  font-size: 20px;
}

a {
  text-decoration: none;
}
.subscribe-with-background {
  height: 411px;
  width: 1200px;
  background-color: #6094ca;
  background-image: url("../images/backgrounds/background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-with-background,
.subscribe-without-background {
  padding: 94px 0;
}

.subscribe-without-background {
  color: black;
}
.navigation-link {
  text-align: left;
  color: inherit;
  text-align: center;
  display: block;
  padding: 20px 0;
  margin: 0;
position: relative;
}

.navigation-link:hover {
color: #756257;
}


.navigation-link-user:hover path  {
  fill: #756257;
}

.navigation-link-user:active path {
  fill: #756257;
  opacity: 30%;
}


.navigation-link:active {
color: #756257;
opacity: 30%;
}

.navigation-link-user {
  text-align: left;
  color: inherit;
  text-align: center;
  display: block;
  padding: 20px 12px;
  margin: 0;
position: relative;
cursor: pointer;
}
.navigation {
  display: flex;
  padding: 0 70px;
  margin: 0 auto;
  justify-content: space-around;
}

.navigation-list {
  margin: 0;
  min-width: 345px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-self: center;
  list-style: none;
  padding: 0 17px;
  gap: 34px;
}

.navigation-link-current {
  border-bottom: solid #756257 2px;
}

.navigation-user {
  min-width: 280px;
  margin-left: auto;
  min-height: 66px;
  padding: 0;
gap: 0;
}

.main-logo {
  width: 139px;
  margin: 0 30px 0 0;
  position: relative;
}

.page-header-logo {
  position: absolute;
  left: 0;
  z-index: 1;
}

.main-index-img {
  background-color: #6094ca;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  padding-top: 51px;
  margin-bottom: 61px;
  position: relative;
}

.main-index-img-logo-line {
  position: absolute;
  bottom: 0;
  left: 0;
}
